$Color: (
  "Brand100": #EAF1FB,
  "Brand200": #6FA1EC,
  "Brand300": #2F73DA,
  "Brand400": #165ECC,
  "Brand500": #034AB3,
  "Chart1": #74E4DA,
  "Chart2": #ED64A4,
  "Chart3": #F3DC46,
  "Chart4": #BABFC5,
  "Chart5": #60A9FF,
  "Chart6": #C8BAEE,
  "Chart7": #585E67,
  "ChartMono1": #89E8DF,
  "ChartMono2": #FF8787,
  "ChartMono3": #60A9FF,
  "ChartMono4": #2F73DA,
  "ChartMono5": #034AB3,
  "ChartMono6": #002966,
  "NeutralWhite": #FFFFFF,
  "Neutral100": #F8F9FB,
  "Neutral200": #EEF1F6,
  "Neutral300": #E4E8EE,
  "Neutral400": #CDD3DD,
  "Neutral500": #A8B1BD,
  "Neutral600": #6A7381,
  "Neutral700": #49505A,
  "Neutral800": #1F2329,
  "Neutral900": #121417,
  "Primary100": #EAF1FB,
  "Primary200": #6FA1EC,
  "Primary300": #2F73DA,
  "Primary400": #165ECC,
  "Primary500": #034AB3,
  "Success100": #DDFDED,
  "Success200": #0AC295,
  "Success300": #09A57F,
  "Success400": #078364,
  "Success500": #027357,
  "Warning100": #FEF7B9,
  "Warning200": #FFDA6C,
  "Warning300": #FFB400,
  "Warning400": #E07C02,
  "Warning500": #C33E01,
  "Error100": #FCD2CF,
  "Error200": #F45532,
  "Error300": #DF320C,
  "Error400": #C61A0B,
  "Error500": #AE0A0A,
  "TransparentNeutral100": rgba(247, 249, 252, 0.55),
  "TransparentNeutral400": rgba(203, 211, 223, 0.55),
  "TransparentScrim": rgba(0, 0, 0, 0.25),
  "TransparentScrimDarker": rgba(0, 0, 0, 0.50),
);
$Font: (
  "Regular": (ProximaNovaRegular, Helvetica, Arial, sans-serif),
  "Semibold": (ProximaNovaSemibold, Helvetica, Arial, sans-serif),
  "Bold": (ProximaNovaBold, Helvetica, Arial, sans-serif),
);
$BoxShadow: (
  "Low":  0px 2px 8px rgba(106, 115, 129, 0.12),
  "Medium":  0px 6px 12px rgba(106, 115, 129, 0.16), 0px 3px 8px rgba(87, 102, 117, 0.06),
  "High":  0px 12px 20px rgba(106, 115, 129, 0.22),
  "FocusRingDefault": 0px 0px 0px 2px rgba(82, 138, 224, 0.8),
  "Left":  -1px 2px 8px rgba(106, 115, 129, 0.22),
  "Right":  1px 0px 8px rgba(106, 115, 129, 0.22),
  "SelectionBoxShadow": none,
  "Tooltip":  0px 6px 12px rgba(106, 115, 129, 0.16), 0px 3px 8px rgba(87, 102, 117, 0.06),
);
$BorderRadius: (
  "Small": 2px,
  "Medium": 4px,
  "Large": 8px,
  "XLarge": 16px,
  "Button": 4px,
  "Card": 4px,
  "CardRounded": 8px,
  "Checkbox": 2px,
  "Chip": 2px,
  "Container": 4px,
  "DropdownChip": 4px,
  "DropdownMenu": 4px,
  "DropdownMenuItem": 4px,
  "DropdownToggle": 4px,
  "Input": 4px,
  "Modal": 4px,
  "ModalClose": 4px,
  "Tooltip": 4px,
);
$FontSize: (
  "Tiny": 10px,
  "XSmall": 12px,
  "Small": 14px,
  "ParagraphSmall": 14px,
  "Body": 16px,
  "Paragraph": 16px,
  "H3": 20px,
  "H2": 24px,
  "H1": 32px,
  "Button": 16px,
  "ButtonLinkLarge": 16px,
  "ButtonLinkSmall": 14px,
  "DropdownChip": 10px,
  "DropdownItem": 16px,
  "Chip": 12px,
  "Input": 16px,
  "InputHelpText": 14px,
  "InputLabel": 14px,
  "ModalHeader": 20px,
  "TextArea": 16px,
  "TextAreaHelpText": 14px,
  "TooltipHeadline": 16px,
  "TooltipText": 14px,
);
$FontWeight: (
  "Regular": 400,
  "Semibold": 600,
  "Bold": 700,
);
$LetterSpacing: (
  "SmallUppercase": 0.48,
  "TinyUppercase": 0.48,
  "XSmallUppercase": 0.48,
);
$LineHeight: (
  "Tiny": 12px,
  "XSmall": 14px,
  "Small": 16px,
  "ParagraphSmall": 20px,
  "Body": 20px,
  "Paragraph": 24px,
  "H3": 24px,
  "H2": 32px,
  "H1": 40px,
);
$Spacing: (
  "XTiny": 2px,
  "Tiny": 4px,
  "XSmall": 8px,
  "Small": 12px,
  "Medium": 16px,
  "Large": 24px,
  "XLarge": 32px,
  "XXLarge": 40px,
  "XXXLarge": 48px,
  "Jumbo": 64px,
  "SuperJumbo": 96px,
  "ButtonPadding": 12px,
  "CardSidePadding": 16px,
  "CheckboxLabelMarginLeft": 8px,
  "CheckboxLabelMarginRight": 8px,
  "ChipPaddingTop": 4px,
  "ChipPaddingBottom": 4px,
  "ChipPaddingLeft": 8px,
  "ChipPaddingRight": 8px,
  "ContainerSidePadding": 24px,
  "InputHelpTextMarginTop": 4px,
  "InputLabelMarginLeft": 8px,
  "InputLabelPaddingLeft": 4px,
  "InputLabelPaddingRight": 4px,
  "InputLabelTop": -8px,
  "InputPaddingBottom": 12px,
  "InputPaddingLeft": 12px,
  "InputPaddingRight": 12px,
  "InputPaddingTop": 16px,
  "ModalPadding": 12px,
  "SwitchLabelMarginLeft": 12px,
  "SwitchLabelMarginRight": 12px,
  "TableCell": 16px,
  "TableCellActionMargin": 24px,
  "TableFooterPaddingTop": 12px,
  "TableFooterPaddingSide": 16px,
  "TagPaddingTopBottom": 8px,
  "TagPaddingLeftRight": 12px,
  "TagSmallPaddingTopBottom": 2px,
  "TagSmallPaddingLeftRight": 8px,
  "TextAreaPadding": 12px,
  "TooltipPadding": 12px,
);
$Time: (
  "Short": 300px,
  "Med": 500px,
  "Long": 1000px,
);
$Easing: (
  "Default": cubic-bezier(.475,.425,0,.995),
);
$MediaQuery: (
  "Small": 576px,
  "Med": 768px,
  "Large": 992px,
  "XLarge": 1200px,
);
$Resolution: (
  "Small": 576px,
  "Med": 768px,
  "Large": 992px,
  "XLarge": 1200px,
);
$BackgroundColor: (
  "Body": #121417,
  "Error": #F45532,
  "Avatar": #49505A,
  "ButtonDestructive": #DF320C,
  "ButtonDestructiveDisabled": #49505A,
  "ButtonDestructiveHover": #C61A0B,
  "ButtonLinkHover": #49505A,
  "ButtonNeutral": #1F2329,
  "ButtonNeutralDisabled": #49505A,
  "ButtonNeutralHover": #6A7381,
  "ButtonPrimary": #2F73DA,
  "ButtonPrimaryDisabled": #49505A,
  "ButtonPrimaryHover": #165ECC,
  "ButtonTransparentHover": #6A7381,
  "Card": #1F2329,
  "CheckboxChecked": transparent,
  "CheckboxDisabled": #49505A,
  "ChipDefault": transparent,
  "ChipDefaultHover": #6A7381,
  "ChipDefaultActive": transparent,
  "Container": #1F2329,
  "DropdownMenu": #49505A,
  "DropdownMenuItemActive": #6A7381,
  "DropdownMenuItemHover": #6A7381,
  "HrDark": #A8B1BD,
  "HrLight": #6A7381,
  "InputChip": #49505A,
  "InputChipHover": #6A7381,
  "InputDisabled": transparent,
  "InputFocus": transparent,
  "InputLabelDefault": #1F2329,
  "InputLabelSecondary": #121417,
  "LeftNavItem": #1F2329,
  "LeftNavItemActive": #121417,
  "LeftNavItemHover": #49505A,
  "MessageBox": #49505A,
  "MessageBoxBrand": #6FA1EC,
  "MessageBoxError": #F45532,
  "MessageBoxHelp": #6FA1EC,
  "MessageBoxSuccess": #0AC295,
  "Modal": #1F2329,
  "ModalClose": #49505A,
  "ModalCloseHover": #6A7381,
  "ModalScrim": rgba(0, 0, 0, 0.50),
  "SelectionBoxShadow": #49505A,
  "SelectionBoxShadowDisabled": #49505A,
  "Radio": transparent,
  "RadioChecked": #121417,
  "RadioDisabled": #49505A,
  "RadioDot": #6A7381,
  "RadioDotChecked": #FFFFFF,
  "RadioDotDisabled": #6A7381,
  "RadioDotDisabledChecked": #A8B1BD,
  "SwitchDisabledOff": #121417,
  "SwitchDisabledOn": #121417,
  "SwitchHandle": #FFFFFF,
  "SwitchHandleDisabled": #49505A,
  "SwitchOff": #49505A,
  "SwitchOn": #09A57F,
  "TabDivider": #6A7381,
  "TabHover": #49505A,
  "TagError": #AE0A0A,
  "TagNeutral": #6A7381,
  "TagPrimary": #034AB3,
  "TagSuccess": #027357,
  "TagWarning": #FFB400,
  "TableRowHover": #49505A,
  "TableFooter": #49505A,
  "Tooltip": #49505A,
  "ButtonLinkDestructiveHover": #49505A,
);
$BorderColor: (
  "Error": #F45532,
  "ButtonLinkHover": #FFFFFF,
  "ButtonLinkDestructiveHover": #FFFFFF,
  "ButtonNeutral": #A8B1BD,
  "ButtonNeutralDisabled": #6A7381,
  "ButtonNeutralHover": #A8B1BD,
  "Checkbox": #CDD3DD,
  "CheckboxChecked": #FFFFFF,
  "CheckboxDisabled": #6A7381,
  "ChipDefault": #A8B1BD,
  "ChipDefaultHover": #6A7381,
  "ChipDefaultActive": #6FA1EC,
  "ChipDefaultDisabled": #6A7381,
  "DropdownDisabled": rgba(203, 211, 223, 0.55),
  "Input": #A8B1BD,
  "InputDisabled": #6A7381,
  "InputError": #F45532,
  "InputFocus": #6FA1EC,
  "InputHover": #A8B1BD,
  "SelectionBoxOutline": #49505A,
  "SelectionBoxFocusedSelected": #6FA1EC,
  "SelectionBoxDisabled": #49505A,
  "SelectionBoxDisabledSelected": #49505A,
  "Radio": #FFFFFF,
  "RadioChecked": #FFFFFF,
  "RadioDisabled": #6A7381,
  "RadioDisabledChecked": #A8B1BD,
  "Switch": #6A7381,
  "SwitchDisabled": #6A7381,
  "TabActive": #6FA1EC,
  "TableHeader": #6A7381,
  "TableCell": #49505A,
);
$TextColor: (
  "Active": #6FA1EC,
  "ActiveHover": #EAF1FB,
  "Default": #FFFFFF,
  "Disabled": #6A7381,
  "Error": #F45532,
  "Secondary": #A8B1BD,
  "Avatar": #FFFFFF,
  "ButtonDestructive": #FFFFFF,
  "ButtonDestructiveDisabled": #A8B1BD,
  "ButtonLink": #6FA1EC,
  "ButtonLinkHover": #FFFFFF,
  "ButtonLinkTertiary": #CDD3DD,
  "ButtonLinkDestructive": #F45532,
  "ButtonLinkDestructiveHover": #FFFFFF,
  "ButtonNeutral": #FFFFFF,
  "ButtonNeutralDisabled": #A8B1BD,
  "ButtonNeutralHover": #FFFFFF,
  "ButtonPrimary": #FFFFFF,
  "ButtonPrimaryDisabled": #A8B1BD,
  "ButtonTransparent": #6FA1EC,
  "ButtonTransparentDisabled": #6A7381,
  "ButtonTransparentHover": #FFFFFF,
  "ButtonTransparentTertiary": #CDD3DD,
  "ChipDefault": #FFFFFF,
  "ChipDefaultActive": #6FA1EC,
  "ChipDefaultDisabled": #6A7381,
  "DropdownMenuItemDisabled": #A8B1BD,
  "InputErrorMessage": #F45532,
  "InputHelpText": #A8B1BD,
  "InputLabel": #A8B1BD,
  "InputPlaceholder": #A8B1BD,
  "LeftNavItemActive": #FFFFFF,
  "ModalClose": #FFFFFF,
  "SelectionBoxDisabled": #A8B1BD,
  "TabActive": #6FA1EC,
  "TagError": #FFFFFF,
  "TagNeutral": #FFFFFF,
  "TagPrimary": #FFFFFF,
  "TagSuccess": #FFFFFF,
  "TagWarning": #1F2329,
  "Tooltip": #FFFFFF,
  "ButtonLinkDisabled": #6A7381,
);
